@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
}
.center_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e2e8f0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}
/*Footer*/
footer {
  height: 61px;
  background-color: rgb(250, 253, 255);
}

footer p {
  background-color: gray;
  padding: 5px;
  color: aliceblue;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.fa-twitter {
  background-color: #1da1f2;
}
.fa-facebook {
  background-color: #310fcf;
}
.fa-youtube {
  background-color: tomato;
  font-size: 30px;
}
.fab {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  font-size: 30px;
}
.fab:hover {
  font-size: 40px;
}
/*Home sida CSS */
.hero_imgage_home {
  background-image: url("img/samuel-ferrara-1527pjeb6jg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.hero_imgage_h1 {
  font-size: 78px;
  margin-bottom: 1%;
}
.nextmove_gradient {
  background: linear-gradient(
    156deg,
    rgba(250, 255, 1, 1) 0%,
    rgba(244, 171, 36, 1) 29%,
    rgba(198, 41, 41, 1) 60%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero_imgage_p {
  font-size: 20px;
  text-shadow: -1px 1px 9px #bbbbbb;
  background: linear-gradient(
    156deg,
    rgba(235, 250, 255, 1) 0%,
    rgba(145, 188, 255, 1) 29%,
    rgba(212, 254, 240, 1) 60%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 1%;
}
.hero_text_home {
  flex: 100%;
  text-align: center;
  color: white;
  height: 88%;
  flex-direction: column;
}
.button_hero_home {
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #ecfc03;
  color: #ecfc03;
}
.button_hero_home:hover {
  background-color: #fffb0dda;
  color: rgb(255, 255, 255);
}

.top_val_h2 {
  padding-top: 15px;
  font-size: 30px;
  margin-bottom: 20px;
  color: #e37b26;
}
/*SHOP sida CSS code*/

.card_shop {
  max-width: 250px;
  text-align: center;
  width: 500px;
}
.price {
  color: grey;
  font-size: 16px;
}
.product_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_info h3{
  font-size: 15px;
}

.product_info h3:hover{
  border-bottom: solid 3px #101010;
}
.card_shop img {
  width: 100%;
  height: 36vh;
  object-fit: cover;
  object-position: center;
}
.container_shop {
  gap: 18px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*shoping cart*/

.cart_page{
  margin: 80px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart_info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #ff523b ;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}
.total_price{
  display: flex;
  justify-content:flex-end ;
}
.total_price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

/*About us page*/
input[type=text],select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.contact_us_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 8;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .card_top_val {
    max-width: 1000px;
    margin: 0;
    margin-left: 0px;
    width: 60vw;
    margin-bottom: 14%;
    height: auto;
  }
  .row_top_val {
    flex-direction: column;
  }
  .top_val_container {
    height: 155vh;
  }
  .cart_info p{
    display: none;
  }

}
