@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #e3e7eb;
}
.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #353535;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #b5b5b5;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b5b2b2;
}

.nav-link:hover {
  color: #ffff;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}
.side-show {
  color: #ececec;
}
/*Footer, har tagit main koden av footern från nättet, har sedan anpassat den så att jag kan all kod som sker och ändrat koden och tagit bort koden till mitt behov*/ 
.footer-clean {
  color:#dadada;
  background-color: #424242;
  padding-top: 5px ;
  padding-bottom: 5px;
}
.footer-clean-margin{
  margin-top: 40px;
}
.colum-container {
  justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;

}
.footer-clean h3 {
  margin-top:10px;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}


.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}
.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
/*Home sida CSS */
.hero-imgage-home {
  background-image: url("img/samuel-ferrara-1527pjeb6jg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.hero-text-home h1 {
  font-size: 78px;
  margin-bottom: 1%;
}
.nextmove-gradient {
  text-align: center;
  background: linear-gradient(to right, rgb(238, 255, 0) 20%, #ff0 40%, rgb(241, 3, 3) 60%, rgb(255, 238, 0) 80%);
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

.hero-text-home p {
  font-size: 20px;
  text-shadow: -1px 1px 9px #bbbbbb;
  background: linear-gradient(
    156deg,
    rgba(235, 250, 255, 1) 0%,
    rgba(145, 188, 255, 1) 29%,
    rgba(212, 254, 240, 1) 60%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 1%;
}
.hero-text-home {
  flex: 100%;
  text-align: center;
  color: white;
  height: 88%;
  flex-direction: column;
}
.hero-text-home a {
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #ecfc03;
  color: #ecfc03;
}
.hero-text-home a:hover {
  background-color: #fffb0dda;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top-val-h2 {
  padding-top: 15px;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(118 127 160);
}
/*SHOP sida CSS code*/

.card-shop {
  max-width: 250px;
  text-align: center;
  width: 500px;
  margin-top: 10px;
}

.product-info p {
  color: grey;
  font-size: 16px;
}
.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-info h3 {
  font-size: 15px;
}
.product-info h3:hover {
  opacity: 0.7;
}
.card-shop img {
  width: 100%;
  height: 36vh;
  object-fit: cover;
  object-position: center;
  background-color: #adaaaa; /* finns för att man ska se produkts korten även när sidan laddas in*/
}
.card-shop img:hover{
  opacity: 0.5;
}
.container-shop {
  gap: 18px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*shoping cart*/

.cart-page {
  margin: 80px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: white;
  background: #545251;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #545251;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

/*About us page*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #000000;
  color: #b5b2b2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label {
  font-size: 20px;
  color: #b5b2b2;
}
input[type="submit"]:hover {
  background-color: rgb(238, 255, 0);
  
}

.contact-us-container {
  background-color: #353535;
  padding: 20px;
  margin-top: 3%;
}
.contact-us-container h2 {
  margin-bottom: 15px;
  font-size: 29px;
  font-weight: normal;
  width: 38vw;
}
.contact-us-container h2{
  color: #f0f3ff;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}
.about-container img {
  width: 32%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
}
.background-about-text {
  background-color: #eaeaea59;
  width: 24vw;
}
.background-about-text h2 {
  font-size: 20px;
  color: #4c5b5e;
  padding: 5px;
  margin-left: 9px;
}
.background-about-text p {
  font-size: 10px;
  width: 20vw;
  padding: 10px;
  color: black;
  margin-left: 9px;
}
.about-us h1 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-weight: 500;
  color: #4c5b5e;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
@media (max-width:1025px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #353535;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 8;
    position: absolute;
  }
  .footer-clean .item.social {
    text-align:center;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .card-top-val {
    max-width: 1000px;
    margin: 0;
    margin-left: 0px;
    width: 60vw;
    margin-bottom: 14%;
    height: auto;
  }
  .row-top-val {
    flex-direction: column;
  }
  .top-val-container {
    height: 155vh;
  }
  .cart-info p {
    display: none;
  }
  .about-container img {
    width: 100%;
    height: 23vh;
  }
  .background-about-text {
    width: 100%;
  }
  .background-about-text p {
    width: 100%;
  }
  .invisble {
    display: none;
  }
  .about-container-reverse {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}
